# Lab | Inferential statistics - T-test & P-value

Instructions

One tailed t-test - In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/ttest_machine.xlsx.. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

Matched Pairs Test - In this challenge we will compare dependent samples of data describing our Pokemon (file files_for_lab/pokemon.csv). Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. Compare the two columns to see if there is a statistically significant difference between them and comment your result.

Inferential statistics - ANOVA

Note: The following lab is divided in 2 sections.

Part 1

In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python. Here are the steps that you would need to work on: - Null hypothesis - Alternate hypothesis - Level of significance - Test statistic - P-value - F table

Context

In this challenge,we will return to the Pokemon dataset. We want to understand whether there are significant differences among various types of pokemons' Total value, i.e. Grass vs Poison vs Fire vs Dragon... There are many types of pokemons which makes it a perfect use case for ANOVA. (file files_for_lab/pokemon.csv) First let's obtain the unique values of the pokemon types. Second we will create a list named pokemon_totals to contain the Total values of each unique type of pokemons. Third we run ANOVA test on pokemon_totals.

State the null hypothesis
State the alternate hypothesis
What is the significance level
What are the degrees of freedom of model, error terms, and total DoF

Part 2

What conclusions can you draw from the experiment and why?
Interpret the ANOVA test result. 
Is the difference significant?

In [1]:
import pandas as pd
import scipy.stats as stats

In [2]:
data = pd.read_csv('/Users/igorhufnagel/Desktop/Ironhack/LABS/Week 16/Day 1/lab-t-tests-p-values/files_for_lab/pokemon.txt')

In [3]:
data

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [9]:
unique_types = pd.unique(data[['Type 1', 'Type 2']].values.ravel())

unique_types = unique_types[~pd.isnull(unique_types)] # '~' not consider the null values

print(unique_types)

['Grass' 'Poison' 'Fire' 'Flying' 'Dragon' 'Water' 'Bug' 'Normal'
 'Electric' 'Ground' 'Fairy' 'Fighting' 'Psychic' 'Rock' 'Steel' 'Ice'
 'Ghost' 'Dark']

In [20]:
pokemon_totals = []

for pokemon_type in unique_types:
    if type(pokemon_type) == str:
        type_totals = data.loc[(data['Type 1'] == pokemon_type) | 
                                       (data['Type 2'] == pokemon_type), 'Total']
        pokemon_totals.extend(type_totals)

len(pokemon_totals)

1214

In [19]:
type_counts = data[['Type 1', 'Type 2']].stack().value_counts() 

# .stack() converts the selected columns into a single series by stacking them vertically. 
#This operation transforms the DataFrame from a wide format (with multiple columns) to a long format (with a single column).

print(type_counts)

Water       126
Normal      102
Flying      101
Grass        95
Psychic      90
Bug          72
Ground       67
Fire         64
Poison       62
Rock         58
Fighting     53
Dark         51
Dragon       50
Electric     50
Steel        49
Ghost        46
Fairy        40
Ice          38
dtype: int64

In [65]:
f_statistic, p_value = stats.f_oneway(data['Attack'], data['Defense'])

alpha = 0.05

print("ANOVA test results:")
print(f"F-statistic: {f_statistic}")
print(f"P-value: {p_value}")

if p_value < alpha:
    print("There is a statistically significant difference between attack and defense scores.")
else:
    print("There is no statistically significant difference between attack and defense scores.")

ANOVA test results:
F-statistic: 10.509034311751423
P-value: 0.0012123980547317907
There is a statistically significant difference between attack and defense scores.

# T-tests and P-values

In statistics, t-test is used to test if two data samples have a significant difference between their means. There are two types of t-test:

Student's t-test (a.k.a. independent or uncorrelated t-test). This type of t-test is to compare the samples of two independent populations (e.g. test scores of students in two different classes). scipy provides the ttest_ind method to conduct student's t-test.

Paired t-test (a.k.a. dependent or correlated t-test). This type of t-test is to compare the samples of the same population (e.g. scores of different tests of students in the same class). scipy provides the ttest_rel method to conduct paired t-test.

Both types of t-tests return a number which is called the p-value. If p-value is below 0.05, we can confidently declare the null-hypothesis is rejected and the difference is significant. If p-value is between 0.05 and 0.1, we may also declare the null-hypothesis is rejected but we are not highly confident. If p-value is above 0.1 we do not reject the null-hypothesis.

Read more about the t-test in this article and this Quora. Make sure you understand when to use which type of t-test.

In [32]:
import scipy.stats as stats

In [39]:
data2 = pd.read_csv('/Users/igorhufnagel/Desktop/Ironhack/LABS/Week 16/Day 1/lab-t-tests-p-values/files_for_lab/ttest_machine.txt')

In [42]:
data2 = {'New_machine': [42.1, 41, 41.3, 41.8, 42.4, 42.8, 43.2, 42.3, 41.8, 42.7],
        'Old_machine': [42.7, 43.6, 43.8, 43.3, 42.5, 43.5, 43.1, 41.7, 44, 44.1]}
df = pd.DataFrame(data2)

In [53]:
# New_machine

new_machine_samples = data2['New_machine']
sample_mean1 = np.mean(new_machine_samples)
sample_std1 = np.std(new_machine_samples, ddof=1)
n1 = len(new_machine_samples)

# Old_machine

old_machine_samples = data2['Old_machine']
sample_mean2 = np.mean(old_machine_samples)
sample_std2 = np.std(old_machine_samples, ddof=1)
n2 = len(old_machine_samples)

new_machine_samples = data2['New_machine']
sample_mean1 = np.mean(new_machine_samples)
sample_std1 = np.std(new_machine_samples, ddof=1)
n1 = len(new_machine_samples)

print("New Machine:")
print("Sample Mean:", sample_mean1)
print("Sample Standard Deviation:", sample_std1)
print("Sample Size:", n1)

print("\nOld Machine:")
print("Sample Mean:", sample_mean2)
print("Sample Standard Deviation:", sample_std2)
print("Sample Size:", n2)

New Machine:
Sample Mean: 42.14
Sample Standard Deviation: 0.6834552736727638
Sample Size: 10

Old Machine:
Sample Mean: 43.230000000000004
Sample Standard Deviation: 0.7498888806572157
Sample Size: 10

In [55]:
from statistics import math

pooled_sample_std = math.sqrt(((n1-1)*sample_std1**2 + (n2-1)*sample_std2**2)/(n1+n2-2))
statistic = (sample_mean1-sample_mean2)/(pooled_sample_std*math.sqrt((1/n1)+(1/n2)))
statistic

-3.3972307061176026

In [57]:
from scipy.stats import t

p_value=1-t.cdf(statistic, n1+n2-2)
cv=t.ppf(0.025, n1+n2-2)

In [58]:
p_value

0.9983944287496127

In [46]:
machine1 = df['New_machine']
machine2 = df['Old_machine']

In [47]:
# using a function

t_statistic, p_value = stats.ttest_ind(machine1, machine2, alternative='greater')

In [50]:
print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

T-Statistic: -3.3972307061176026
P-Value: 0.9983944287496127

In [51]:
if p_value < 0.05:
    print ('Reject Null Hypothesis')
else:
    print('Dont Reject Null Hypothesis')

Dont Reject Null Hypothesis

In [59]:
if cv < statistic:
    print ('Reject Null Hypothesis')
else:
    print('Dont Reject Null Hypothesis')

Dont Reject Null Hypothesis

In [ ]:
from scipy import stats

attack_scores = pokemon['Attack']
defense_scores = pokemon['Defense']

t_statistic, p_value = stats.ttest_rel(attack_scores, defense_scores)

print("Matched Pairs Test")
print(f"T-statistic: {t_statistic}")
print(f"P-value: {p_value}")

alpha = 0.05  # significance level
if p_value < alpha:
    print("There is a statistically significant difference between attack and defense.")
else:
    print("There is no statistically significant difference between attack and defense.")

In [60]:
from scipy import stats

attack_scores = data['Attack']
defense_scores = data['Defense']

t_statistic, p_value = stats.ttest_rel(attack_scores, defense_scores)

print("Matched Pairs Test")
print(f"T-statistic: {t_statistic}")
print(f"P-value: {p_value}")

alpha = 0.05  # significance level
if p_value < alpha:
    print("There is a statistically significant difference between attack and defense.")
else:
    print("There is no statistically significant difference between attack and defense.")

Matched Pairs Test
T-statistic: 4.325566393330478
P-value: 1.7140303479358558e-05
There is a statistically significant difference between attack and defense.

In [61]:
n_pokemon = len(data)

df_model = 1
df_error = n_pokemon - 1
df_total = n_pokemon - 1

print(f"Degrees of Freedom of Model: {df_model}")
print(f"Error Terms: {df_error}")
print(f"Total DoF: {df_total}")

Degrees of Freedom of Model: 1
Error Terms: 799
Total DoF: 799