In [1]:
#Lab | Inferential statistics - T-test & P-value

In [2]:
#One tailed t-test - In a packing plant, a machine packs cartons with jars. It is supposed that a 
#new machine will pack faster on the average than the machine currently used. To test 
#that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, 
#in seconds, are shown in the tables in the file files_for_lab/ttest_machine.xlsx.. Assume that 
#there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if 
#one machine is better than the other?

In [13]:
import pandas as pd
from statistics import math
from scipy.stats import t
from scipy import stats

In [4]:
data = {'New_machine': [42.1, 41, 41.3, 41.8, 42.4, 42.8, 43.2, 42.3, 41.8, 42.7],
        'Old_machine': [42.7, 43.6, 43.8, 43.3, 42.5, 43.5, 43.1, 41.7, 44, 44.1]}
df = pd.DataFrame(data)
df.head()

   New_machine  Old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5

In [5]:
mean_new = df['New_machine'].mean()
std_new = df['New_machine'].std(ddof=1)

print(mean_new)
print(std_new)

42.14
0.6834552736727638

In [6]:
mean_old = df['Old_machine'].mean()
std_old = df['Old_machine'].std(ddof=1)

print(mean_old)
print(std_old)

43.230000000000004
0.7498888806572157

In [7]:
#New machine
sample_mean1 = 42.14
sample_std1 = 0.683
n1 = 9

#Old machine
sample_mean2 = 42.230
sample_std2 = 0.749
n2 = 9

#pooled t-test/two sample independent t-test

pooled_sample_std = math.sqrt(
    ((n1-1)*sample_std1**2 + (n2-1)*sample_std2**2)/(n1+n2-2))

statistic = (sample_mean1-sample_mean2)/(pooled_sample_std*math.sqrt((1/n1)+(1/n2)))
statistic

-0.26636365295681114

In [8]:
print("P value is: ", 1- t.cdf(statistic,n1+n2-2))
print("Critical Value of z is: ", t.ppf(0.025,n1+n2-2))

P value is:  0.6033193341294916
Critical Value of z is:  -2.1199052992210112

In [9]:
# The result of our statistic test is lower than our p value so we reject the null hypothesis.

In [10]:
#Matched Pairs Test - In this challenge we will compare dependent samples of data describing our Pokemon
#(file files_for_lab/pokemon.csv). Our goal is to see whether there is a significant difference between each 
#Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. Compare 
#the two columns to see if there is a statistically significant difference between them and comment your result.

In [12]:
pokemon = pd.read_csv('pokemon.txt')
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [ ]:
#State the null hypothesis - The defense and attack scores are equal
#State the alternate hypothesis - The defense and attack scores are different
#What is the significance level - 0.05

In [14]:
attack_scores = pokemon['Attack']
defense_scores = pokemon['Defense']

t_statistic, p_value = stats.ttest_rel(attack_scores, defense_scores)

print("Matched Pairs Test")
print(f"T-statistic: {t_statistic}")
print(f"P-value: {p_value}")

alpha = 0.05  # significance level
if p_value < alpha:
    print("There is a statistically significant difference between attack and defense.")
else:
    print("There is no statistically significant difference between attack and defense.")

Matched Pairs Test
T-statistic: 4.325566393330478
P-value: 1.7140303479358558e-05
There is a statistically significant difference between attack and defense.

In [15]:
#What are the degrees of freedom of model, error terms, and total DoF

n_pokemon = len(pokemon)

df_model = 1
df_error = n_pokemon - 1
df_total = n_pokemon - 1

print(f"Degrees of Freedom of Model: {df_model}")
print(f"Error Terms: {df_error}")
print(f"Total DoF: {df_total}")

Degrees of Freedom of Model: 1
Error Terms: 799
Total DoF: 799

In [16]:
#Interpret the ANOVA test result. Is the difference significant?
f_statistic, p_value = stats.f_oneway(pokemon['Attack'], pokemon['Defense'])

alpha = 0.05

print("ANOVA test results:")
print(f"F-statistic: {f_statistic}")
print(f"P-value: {p_value}")

if p_value < alpha:
    print("There is a statistically significant difference between attack and defense scores.")
else:
    print("There is no statistically significant difference between attack and defense scores.")

ANOVA test results:
F-statistic: 10.509034311751423
P-value: 0.0012123980547317907
There is a statistically significant difference between attack and defense scores.