In [23]:
from statistics import math
import pandas as pd
import numpy as np
from scipy.stats import t

In [14]:
ttest_machine = pd.read_csv('ttest_machine1.csv')

In [15]:
ttest_machine

   New_machine  Old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [19]:
#New_machine
sample_mean_nm=np.mean(ttest_machine["New_machine"])
sample_std_nm=np.std(ttest_machine["New_machine"])
n1=10

In [20]:
#Old_machine
sample_mean_om=np.mean(ttest_machine['Old_machine'])
sample_std_om=np.std(ttest_machine['Old_machine'])
n2=10

In [21]:
pooled_sample_std = math.sqrt(
    ((n1-1)*sample_std_nm**2 + (n2-1)*sample_std_om**2)/(n1+n2-2))
statistic = (sample_mean_nm-sample_mean_om)/(pooled_sample_std*math.sqrt((1/n1)+(1/n2)))
statistic

-3.5809955894645813

In [24]:
print("P value is: ", 1- t.cdf(statistic,n1+n2-2))
print("Critical Value of z is: ", t.ppf(0.025, n1+n2-2))

P value is:  0.9989322065983063
Critical Value of z is:  -2.10092204024096

We can reject the null hypothesis

In [25]:
pokemon=pd.read_csv("pokemon.txt")
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [28]:
from scipy import stats

attack_scores = pokemon['Attack']
defense_scores = pokemon['Defense']

t_statistic, p_value = stats.ttest_rel(attack_scores, defense_scores)

print("Matched Pairs Test")
print(f"T-statistic: {t_statistic}")
print(f"P-value: {p_value}")

alpha = 0.05  # significance level
if p_value < alpha:
    print("There is a statistically significant difference between attack and defense.")
else:
    print("There is no statistically significant difference between attack and defense.")

Matched Pairs Test
T-statistic: 4.325566393330478
P-value: 1.7140303479358558e-05
There is a statistically significant difference between attack and defense.

In [29]:
n_pokemon = len(pokemon)

df_model = 1
df_error = n_pokemon - 1
df_total = n_pokemon - 1

print(f"Degrees of Freedom of Model: {df_model}")
print(f"Error Terms: {df_error}")
print(f"Total DoF: {df_total}")

Degrees of Freedom of Model: 1
Error Terms: 799
Total DoF: 799

In [30]:
f_statistic, p_value = stats.f_oneway(pokemon['Attack'], pokemon['Defense'])

alpha = 0.05

print("ANOVA test results:")
print(f"F-statistic: {f_statistic}")
print(f"P-value: {p_value}")

if p_value < alpha:
    print("There is a statistically significant difference between attack and defense scores.")
else:
    print("There is no statistically significant difference between attack and defense scores.")

ANOVA test results:
F-statistic: 10.509034311751423
P-value: 0.0012123980547317907
There is a statistically significant difference between attack and defense scores.