In [ ]:
#Lab | Inferential statistics - T-test & P-value

In [ ]:
#One tailed t-test - In a packing plant, a machine packs cartons with jars. It is supposed that a 
#new machine will pack faster on the average than the machine currently used. To test 
#that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, 
#in seconds, are shown in the tables in the file files_for_lab/ttest_machine.xlsx.. Assume that 
#there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if 
#one machine is better than the other?

In [10]:
import pandas as pd
from statistics import math
from scipy.stats import t

In [3]:
data = {'New_machine': [42.1, 41, 41.3, 41.8, 42.4, 42.8, 43.2, 42.3, 41.8, 42.7],
        'Old_machine': [42.7, 43.6, 43.8, 43.3, 42.5, 43.5, 43.1, 41.7, 44, 44.1]}
df = pd.DataFrame(data)
df.head()

   New_machine  Old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5

In [5]:
mean_new = df['New_machine'].mean()
std_new = df['New_machine'].std(ddof=1)

print(mean_new)
print(std_new)

42.14
0.6834552736727638

In [6]:
mean_old = df['Old_machine'].mean()
std_old = df['Old_machine'].std(ddof=1)

print(mean_old)
print(std_old)

43.230000000000004
0.7498888806572157

In [8]:
#New machine
sample_mean1 = 42.14
sample_std1 = 0.683
n1 = 9

#Old machine
sample_mean2 = 42.230
sample_std2 = 0.749
n2 = 9

#pooled t-test/two sample independent t-test

pooled_sample_std = math.sqrt(
    ((n1-1)*sample_std1**2 + (n2-1)*sample_std2**2)/(n1+n2-2))

statistic = (sample_mean1-sample_mean2)/(pooled_sample_std*math.sqrt((1/n1)+(1/n2)))
statistic

-0.26636365295681114

In [11]:
print("P value is: ", 1- t.cdf(statistic,n1+n2-2))
print("Critical Value of z is: ", t.ppf(0.025,n1+n2-2))

P value is:  0.6033193341294916
Critical Value of z is:  -2.1199052992210112